@font-face {
  font-family: 'Nanami Rounded';
  src: url('../fonts/Nanami-Rounded-Bld.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Nanami-Rounded-Bld.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Nanami-Rounded-Bld.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Nanami-Rounded-Bld.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Nanami-Rounded-Bld.svg#6d8e03e5f045c63cf75c19bbdd19ad9d') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}