---
---

@font-face {
  font-family: 'Nanami Rounded';
  src: url('../fonts/Nanami-Rounded-Bld.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Nanami-Rounded-Bld.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Nanami-Rounded-Bld.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Nanami-Rounded-Bld.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Nanami-Rounded-Bld.svg#6d8e03e5f045c63cf75c19bbdd19ad9d') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

h1, h2, h3 {
  font-family: 'Nanami Rounded';
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

h2 {
  font-size: 30px;
  line-height: 30px;
}

body {
  background: #f2f2f2;
  color: #4b4eff;
  font-family: "museo-sans",sans-serif;
  margin: 0;
}

.header {
  background: #fff;

  .items {
    letter-spacing: -.31em;
    max-width: 590px;
    margin: 0 auto;
  }
  .item {
    display: inline-block;
    letter-spacing: normal;
    margin: 0 1.5% 0 1.5%;
    text-align: center;
    vertical-align: top;
    zoom: 1;
  }

  h1 { margin:0; }
  img { vertical-align: middle; }

  .search {
    width: 45%;
    margin: 0 3% 0 3%;

    .input { padding: 14px 0 14px; }
    input {
      background: #f2f2f2;
      border: none;
      font-size: 16px;
      line-height: 26px;
      height: 28px;
      width: 100%;


      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;

      &:focus {
        outline: #4b4eff solid 2px;
      }
    }
  }

  .facebook {
    width: 5.5%;

    img {
      margin-top: 16px;
      width: 25px;
    }
  }

  .pro {
    margin-right: 0;
    width: 16%;

    a {
      color: #fff;
      display: inline-block;
      font-size: 12px;
      line-height: 14px;
      padding: 20px 8px 8px 8px;
      text-decoration: none;
      background-color: #3ee7ab;

      -webkit-border-bottom-right-radius: 3px;
      -webkit-border-bottom-left-radius: 3px;
      -moz-border-radius-bottomright: 3px;
      -moz-border-radius-bottomleft: 3px;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
    }
  }

  .logo {
    margin-left: 0;
    width: 20%;
    position: relative;
    height: 56px;

    img {
      margin: 0;
      width: 100%;
      top: 50%;
      left: 0;
      position: absolute;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
}

.container {
  max-width:590px;
  margin: 0 auto;
  font-size: 0;

  .bl {
    font-size: 1rem;
    display: block;
    float: left;
    width: 50%;
    background-size: contain;
    background-repeat: no-repeat;

    .content { padding: 20px; }
    .more { display: none; }
  }
}

.sexe-oral {
  background-color: #4b4eff;
  background-image: url('../img/sexe_oral.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #f2f2f2;
  height: 300px;

  .container {
    padding: 40px;

    h2 { font-size: 60px; }
    h3 { font-size: 30px; }
  }
}

.avaler {
  background-image: url('../img/avaler.png');
  background-color: #fee951;
  height: 300px;
}

.condoms {
  background-image: url('../img/condoms.png');
  background-color: #4b4eff;
  background-position: bottom;
  height: 300px;
  color: #f2f2f2;
}

.container .bibittes {
  background-image: url('../img/bibittes.png');
  background-color: #ff7a6a;
  background-position: bottom;
  background-size: cover;
  height: 300px;
  color: #fff;
}

.fellation {
  background-image: url('../img/fellation.png');
  background-color: #f9b7b2;
  background-position: right;
  height: 300px;
}

.colored {
  height: 180px;

  &.colored-w {
    background: #fff;
    color: #4b4eff;
  }

  &.colored-b {
    background: #4b4eff;
    color: #3ee7ab;
  }

  &.colored-g {
    background: #3ee7ab;
    color: #4b4eff;
  }
}

#active-block{
  overflow:hidden;
}

#calc{
  width: 500px;
  visibility: hidden;
  position: absolute;
  left: -9999px;
  overflow:hidden;
}

#blocks {
  .block {
    display: block;
    float: left;
    cursor: pointer;
    height: 100px;
    text-align: center;

    -webkit-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
  }

  .level-1 {
    width: 100%;
    background: #999;
  }

  .level-2 {
    width: 50%;
    background: #BBB;
  }
}

#talk-now {
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 3;
}

.img{
  max-width:100%;
  height: auto;
}

.full-width{
  width: 100%;
  overflow: hidden;
  padding:40px 0;
  background: #4b4eff;

  .bl{
    width: 44%;
    padding: 0 3%;
    img{
      max-width: 100%;
      height: auto;
    }
  }
}

.container {
  max-width:590px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .container {
    .bl {
      width: 100%;
    }
  }
}

@media (max-width: 480px) {
  .header {
    .search { width: 54%; }
    .facebook { width: 15.5%; }
    .pro { display: none; }
  }
}
