---
---

body {
  background: #f2f2f2;
  color: #4b4eff;
  font-family: "museo-sans",sans-serif;
  margin: 0;
}

.header {
  background: #fff;

  .items {
    letter-spacing: -.31em;
    max-width: 590px;
    margin: 0 auto;
  }
  .item {
    display: inline-block;
    letter-spacing: normal;
    margin: 0 1.5% 0 1.5%;
    text-align: center;
    vertical-align: top;
    zoom: 1;
  }

  h1 { margin:0; }
  img { vertical-align: middle; }

  .search {
    width: 45%;
    margin: 0 3% 0 3%;

    .input { padding: 14px 0 14px; }
    input {
      background: #f2f2f2;
      border: none;
      font-size: 16px;
      line-height: 26px;
      height: 28px;
      width: 100%;


      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;

      &:focus {
        outline: #4b4eff solid 2px;
      }
    }
  }

  .facebook {
    width: 5.5%;

    img {
      margin-top: 16px;
      width: 25px;
    }
  }

  .pro {
    margin-right: 0;
    width: 16%;

    a {
      color: #fff;
      display: inline-block;
      font-size: 12px;
      line-height: 14px;
      padding: 20px 8px 8px 8px;
      text-decoration: none;
      background-color: #3ee7ab;

      -webkit-border-bottom-right-radius: 3px;
      -webkit-border-bottom-left-radius: 3px;
      -moz-border-radius-bottomright: 3px;
      -moz-border-radius-bottomleft: 3px;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
    }
  }

  .logo {
    margin-left: 0;
    width: 20%;
    position: relative;
    height: 56px;

    img {
      margin: 0;
      width: 100%;
      top: 50%;
      left: 0;
      position: absolute;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
}

.container {
  max-width:590px;
  margin: 0 auto;
  font-size: 0;

  .bl {
    font-size: 1rem;
    display: block;
    float: left;
    width: 50%;

    h2 { font-size: 40px; }
  }
}

.avaler {
  background-image: url('../img/avaler@2x.png');
  background-position: top 50%;
  background-color: #fee951;
}

#active-block{
  overflow:hidden;
}

#calc{
  width: 500px;
  visibility: hidden;
  position: absolute;
  left: -9999px;
  overflow:hidden;
}

#blocks {
  .block {
    display: block;
    float: left;
    cursor: pointer;
    height: 100px;
    text-align: center;

    -webkit-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
  }

  .level-1 {
    width: 100%;
    background: #999;
  }

  .level-2 {
    width: 50%;
    background: #BBB;
  }
}

#talk-now {
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 3;
}

@media (max-width: 600px) {
  #blocks {
    .level-2 {
      width: 100%;
    }
  }
}

@media (max-width: 480px) {
  .header {
    .search { width: 54%; }
    .facebook { width: 15.5%; }
    .pro { display: none; }
  }
}
